* {
  margin: 0;
}

.app {
  display: flex;
  padding: 20px;
  background-color: rgb(245, 243, 243);
  /* width: 100vw; */
  /* height: 95vh; */
  justify-content: space-evenly;
}

.app__left {
  flex: 0.9;
}

.app__right {
  height: 95vh;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app__dropdown {
  background-color: white;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1100px) {
  .app {
    flex-direction: column;
  }

  .app__right {
    margin-top: 25px;
  }
}

.app__stats .infoBox:not(:last-child) {
  margin-right: 20px;
}

.app__header > h1 {
  color: #cc1034;
}

.app__lineGraphContainer {
  display: flex;
  flex-direction: column;
}

.app__right .lineGraph {
  flex-grow: 1;
}
