.infoBox {
  flex: 1;
}

.infoBox__card {
  padding: 15px;
  cursor: pointer;
}

.infoBox__card h2 {
  padding: 10px 0;
}

.infoBox__today {
  display: flex;
  align-items: center;
}

.infoBox--selected {
  border-top: 10px solid #cc1034;
}

.infoBox--selectedGreen {
  border-top: 10px solid greenyellow;
}
